{
  "commitConvention": "angular",
  "contributorsPerLine": 7,
  "files": [
  "CONTRIBUTORS.md",
  "README.md"
  ],
  "projectName": "{{ github_repo_name }}",
  "projectOwner": "{{ project_owner_github_username }}"
}
