{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "description": "Establish base config, schedule, and manager defaults",
  "addLabels": ["deps"],
  "extends": ["config:base", ":enablePreCommit", ":disableRateLimiting"],
  "dependencyDashboardApproval": {% if active %}false{% else %}true{% endif %},
  "schedule": ["on the 16th day of the month"],
  "git-submodules": {
    "enabled": true
  },
  "enabledManagers": [
    "git-submodules",
    "github-actions",
    "pep621",
    "pip_requirements",
    "pre-commit"
  ],
  "pip_requirements": {
    "description": "Additionally monitor these files",
    "fileMatch": ["(^|/)requirements/.+$"]
  },
  "packageRules": [
    {
      "description": "Core dependencies, unmmatched by the rules below",
      "groupName": "core",
      "matchPackagePatterns": ["*"],
      "matchUpdateTypes": ["minor", "patch"]
    },
    {
      "description": "Type checking dependencies",
      "groupName": "type checking",
      "matchManagers": ["pep621", "pip_requirements", "git-submodules"],
      "matchPackageNames": ["pyright", "submodules/typings"]
    }
  ]
}
