stages:
  example:
    cmd: pwsh -Command "./j.ps1 {{ project_name }}-pipeline stage example"
    deps:
    - packages/_pipeline/src/{{ package_name }}/stages/example
    - docs/notebooks/example.ipynb
    - data/example
    outs:
    - data/example_out:
        persist: true
    params:
    - stage
