[pytest]
addopts = -ra
testpaths = tests
filterwarnings = [
    error,
    ; https://github.com/streamlink/streamlink/pull/5167
    ignore:.*pkg_resources/.declare_namespace.*:DeprecationWarning,
    ]
