# {{ project_name }}

{{ project_description }}

## Contributing

Thank you for considering contributing to `{{ project_name }}`! Please see the [contributing guide](CONTRIBUTING.md) for more details.

> [!IMPORTANT]
>
> Opening this repository in VSCode may run an automatic task if you trust the workspace. Please see the detailed disclaimer in the [contributing guide](CONTRIBUTING.md) for more details, including how to disable the automatic task.
