files: |
  (?x)^(
      src/.*
      |tests/.*
  )$

# Note: Can't use anything in `.venv` for local hooks when commiting from VSCode GUI.
# This is because VSCode Source Control doesn't activate `.venv` before running `git
# commit`.
#
# Example script to run via "target: pwsh script.ps1"
#
#     & ./.venv/Scripts/Activate.ps1
#     foreach ($arg in $args) {
#         autoflake -i --remove-all-unused-imports --ignore-init-module-imports $arg
#     }
#
# (https://github.com/microsoft/vscode-python/issues/10165)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/autoflake
    rev: "v2.0.0"
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --ignore-init-module-imports]
  - repo: https://github.com/psf/black
    hooks:
      - id: black
    rev: "22.12.0"
  - repo: https://github.com/asottile/blacken-docs
    rev: "v1.12.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: ["black==22.12.0"]
  - repo: https://github.com/PyCQA/isort
    rev: "v5.11.3"
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  {% if use_dvc -%}
  - repo: https://github.com/iterative/dvc
    rev: "2.38.1"
    hooks:
      - id: dvc-pre-commit
        language_version: python3
        stages:
          - commit
      - id: dvc-pre-push
        # use s3/gs/etc instead of all to only install specific cloud support
        additional_dependencies: [".[gs]"]
        language_version: python3
        stages:
          - push
      - always_run: true
        id: dvc-post-checkout
        language_version: python3
        stages:
          - post-checkout
  {% endif -%}
