{
  "ignore": [".tools"],
  "include": ["src", "examples"],
  "reportMissingParameterType": "none",
  "reportMissingTypeStubs": "none",
  "reportUnknownArgumentType": "none",
  "reportUnknownLambdaType": "none",
  "reportUnknownMemberType": "none",
  "reportUnknownParameterType": "none",
  "reportUnknownVariableType": "none",
  "typeCheckingMode": "strict",
  "useLibraryCodeForTypes": false,
  "reportUnnecessaryTypeIgnoreComment": true
}
