# Experiment
jupyter~=1.0
nbstripout~=0.5.0

# For `python` and `ipython` via `pythonrc.py`
rich~=11.2.0

# Format
black==22.1.0  # doesn't follow semver

# Lint
flake8-codes~=0.2  # flake8 error code introspection

-r requirements_both.txt
