# Security Policy

## Supported Versions

We only support the latest version, but we try to show `DeprecationWarning`s for awhile prior to breaking compatibility.

## Reporting a Vulnerability

If you think you have found a vulnerability, please use [GitHub's security advisory form](<https://github.com/{{ project_owner_github_username }}/{{ github_repo_name }}/security/advisories/new>) {% if project_email %}or email {{ project_owner_name }} at <{{ project_email }}>{% endif %}.
