# Tell Dependabot to monitor these requirements specifically.
-r template/requirements.txt
-r template/tooling/requirements_both.txt
-r template/tooling/requirements_cicd.txt
-r template/tooling/requirements_dev.txt
