# Tell Dependabot to monitor these requirements specifically.
-r template/requirements.txt
-r template/.tools/requirements/requirements_both.txt
-r template/.tools/requirements/requirements_cicd.txt
-r template/.tools/requirements/requirements_dev.txt
