{% if not override_coveragerc  %}.coveragerc{% endif %}
.env
.flake8
.gitattributes
.vscode/
*.rej
package.json
pyrightconfig.json
{% if not override_pytest  %}pytest.ini{% endif %}
tooling/bump_pyproject.py
tooling/pythonrc.py
tooling/requirements_both.txt
tooling/requirements_cicd.txt
tooling/requirements_dev.txt
