# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

# Bump
copier==7.0.1
toml==0.10.2

# Build
flit==3.8.0

# Type checking
pyright==1.1.296

# Lint
ruff==0.0.254

# Test
pytest==7.2.2
pytest-cov==4.0.0

# Document
-r requirements_docs.txt
