/** https://github.com/executablebooks/MyST-Parser/blob/978e845543b5bcb7af0ff89cac9f798cb8c16ab3/docs/_static/local.css */
.tippy-box {
  background-color: var(--pst-color-surface);
  color: var(--pst-color-text-base);
  border: 1px solid var(--pst-color-border);
}
