# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

# Bump
copier
toml

# Build
flit

# Type checking
pyright

# Pre-commit common requirements
black
ruff

# Test
pytest
pytest-cov

# Document
-r requirements_docs.txt
