# Requirements for the dev environment.

# Install tests package so modules can be run in debugging
-e tests/.
# Introspection
fawltydeps==0.13.2
# Experiment
ipykernel==6.26.0
# Debug
debugpy==1.8.0
# For `pythonstartup.py`
rich==13.6.0
# Format
sourcery-cli==1.13.0
# Profiling
snakeviz==2.2.0
# Pre-commit
pre-commit==3.5.0
# For local publishing to PyPi with flit
keyring==24.2.0

-r requirements_both.txt
