# Core requirements for template updates, bootstrapping, etc.

# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

copier<8.2
dulwich
flit_core
pip
wheel
