# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

myst-parser
sphinx-autobuild
sphinx-book-theme
sphinx-design
