# Requirements for both CI and dev environments.

# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

# Type checking
pyright
# Pre-commit common requirements
ruff
# Testing
pytest
# Testing plugins
pytest-cov
pytest-custom-exit-code
# Format AND test notebooks
nb-clean
nbqa

-r requirements_docs.txt
