# {{ project_name }}

[![All Contributors](https://img.shields.io/github/all-contributors/{{ project_owner_github_username }}/{{ github_repo_name }}?color=ee8449&style=flat-square)](contributors)

{{ project_description }}.

:::{toctree}
:hidden:
contributing
examples/index
changelog
contributors
apidocs/index
references
:::
