blank_issues_enabled: false
contact_links:
  - name: "Ask a question"
    url: "https://github.com/{{ project_owner_github_username }}/{{ github_repo_name }}/discussions/new?category=q-a"
    about: "Ask for help. Please search related Q&As in case your question has been asked before."
