name: "bump"

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  # * ------------------------------------------------------------------------------ * #
  # * Changes below may be lost in significant template updates.

  bump_project:
    runs-on: "{{ actions_runner }}"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "{{ python_version }}"
      - run: |-
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel
          pip install copier toml
          copier --force --vcs-ref $(git rev-parse HEAD:template)
      - run: "python .tools/scripts/bump_pyproject.py"
      - uses: "stefanzweifel/git-auto-commit-action@v4"
        with:
          commit_message: "Bump `pyproject.toml` dependencies"

  # * ------------------------------------------------------------------------------ * #
  # * Changes below should persist in significant template updates.
