# Run static analysis, tests, and sync
name: "ci"
concurrency:
  group: "{% raw %}${{ github.workflow }}{% endraw %}-{% raw %}${{ github.ref }}{% endraw %}"
  cancel-in-progress: true
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ["main"]
defaults:
  run:
    shell: "pwsh"
jobs:
  ruff:
    runs-on: "{{ actions_runner }}"
    steps:
      - uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11" # v4.1.1
        with:
          submodules: True
      - uses: "actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c" # v5.0.0
        with:
          python-version: "{{ python_version }}"
      - run: "scripts/Sync-Py.ps1"
      - run: "ruff check --no-fix --output-format github ."
  fawltydeps:
    runs-on: "{{ actions_runner }}"
    steps:
      - uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11" # v4.1.1
        with:
          submodules: True
      - uses: "actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c" # v5.0.0
        with:
          python-version: "{{ python_version }}"
      - run: "scripts/Sync-Py.ps1"
      - run: "fawltydeps"
  pyright:
    runs-on: "{{ actions_runner }}"
    steps:
      - uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11" # v4.1.1
        with:
          submodules: True
      - uses: "actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c" # v5.0.0
        with:
          python-version: "{{ python_version }}"
      - run: "scripts/Sync-Py.ps1"
      - run: pyright
  test:
    strategy:
      matrix:
        runner:
          - "macos-13"
          - "macos-14"
          - "ubuntu-22.04"
          - "windows-2022"
        python:
          # - "3.10"  # `scripts` currently requires `tomllib`, which is > 3.10
          - "3.11"
          - "3.12"
          # - "3.13.0-alpha.5"  # https://github.com/PyO3/pyo3/issues/3555
    runs-on: "{% raw %}${{ matrix.runner }}{% endraw %}"
    steps:
      - uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11" # v4.1.1
        with:
          submodules: True
      - uses: "actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c" # v5.0.0
        with:
          python-version: "{% raw %}${{ matrix.python }}{% endraw %}"
      - run: "scripts/Sync-Py.ps1 -Version '{% raw %}${{ matrix.python }}{% endraw %}'"
      # ! https://github.com/pytest-dev/pytest-cov/issues/479#issuecomment-1247444988
      - run: "pytest --cov --cov-config pyproject.toml"
      - if: startsWith(matrix.runner, '{{ actions_runner.split('-')[0] }}') && matrix.python == '{{ python_version }}'
        uses: "codecov/codecov-action@54bcd8715eee62d40e33596ef5e8f0f48dbbccab" # v4.1.0
        env:
          CODECOV_TOKEN: "{% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw %}"
      - uses: "actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3" # v4.3.1
        with:
          path: ".comps"
          name: "requirements_{% raw %}${{ matrix.runner }}{% endraw %}_{% raw %}${{ matrix.python }}{% endraw %}"
  sync:
    permissions:
      contents: "write"
    needs:
      - "ruff"
      - "fawltydeps"
      - "pyright"
      - "test"
    runs-on: "{{ actions_runner }}"
    steps:
      - uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11" # v4.1.1
        with:
          submodules: True
      - uses: "actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c" # v5.0.0
        with:
          python-version: "{{ python_version }}"
      - uses: "actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427" # v4.1.4
        with:
          path: ".comps"
          merge-multiple: True
      - run: "scripts/Sync-Py.ps1 -Lock"
      - uses: "stefanzweifel/git-auto-commit-action@8756aa072ef5b4a080af5dc8fef36c5d586e521d" # v5.0.0
        with:
          commit_message: "Sync and lock"
