name: "CodeQL"

on:
  schedule:
    - cron: "38 16 * * 4"

jobs:
  analyze:
    name: "Analyze"
    runs-on: "{{ actions_runner }}"

    strategy:
      fail-fast: false
      matrix:
        language: ["python"]

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4.1.1"
      - name: "Initialize CodeQL"
        uses: "github/codeql-action/init@v2.22.8"
        with:
          languages: "{% raw %}${{ matrix.language }}{% endraw %}"
      - name: "Autobuild"
        uses: "github/codeql-action/autobuild@v2.22.8"
      - name: "Perform CodeQL Analysis"
        uses: "github/codeql-action/analyze@v2.22.8"
        with:
          category: "{% raw %}/language:${{matrix.language}}{% endraw %}"
