name: "main"

on: ["push", "workflow_dispatch"]

jobs:
  pyright:
    runs-on: "{{ actions_runner }}"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "{{ python_version }}"
      - run: |-
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel
          pip install copier toml
          copier --force --vcs-ref $(git rev-parse HEAD:template)
      - run: "python .tools/scripts/bump_pyproject.py"
      - run: |-
          pip install --requirement .tools/requirements/requirements_cicd.txt
          pip install --no-deps .
          pip install --upgrade --requirement 'requirements.txt'
      - run: "pyright"
  pytest-cov:
    runs-on: "{{ actions_runner }}"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "{{ python_version }}"
      - run: |-
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel
          pip install copier toml
          copier --force --vcs-ref $(git rev-parse HEAD:template)
      - run: "python .tools/scripts/bump_pyproject.py"
      - run: |-
          pip install --requirement .tools/requirements/requirements_cicd.txt
          pip install --no-deps .
          pip install --upgrade --requirement 'requirements.txt'
      - run: "pytest --cov"
      - uses: "codecov/codecov-action@v3.1.1"
