name: "publish"
on:
  workflow_dispatch: {}
  release:
    types:
      - "published"
      - "released"

jobs:
  publish:
    runs-on: "{{ actions_runner }}"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "{{ python_version }}"
      - run: "bash .tools/scripts/cicd_setup.sh"
      - name: "publish"
        env:
          FLIT_USERNAME: "__token__"
          FLIT_PASSWORD: "{% raw %}${{ secrets.PYPI_TOKEN }}{% endraw %}"
        run: "flit publish"
