# Publish a Python package to PyPI
name: "release"
on:
  workflow_dispatch:
defaults:
  run:
    shell: "pwsh"
env:
  UV_CACHE_DIR: ".cache/uv-cache"
  UV_SYSTEM_PYTHON: "true"
jobs:
  release:
    strategy:
      matrix:
        runner: ["{{ actions_runner }}"]
        python: ["{{ python_version }}"]
    runs-on: "{% raw %}${{ matrix.runner }}{% endraw %}"
    steps:
      - uses: "dropseed/changerelease@3b121c9e98fa055f59a32b023cb4fd2325f4d9dc" # v1.6.0
        with:
          github_token: "{% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}"
          tag_prefix: ""
      - uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11" # v4.1.1
        with:
          submodules: True
      - uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: "{% raw %}${{ env.UV_CACHE_DIR }}{% endraw %}"
          key: "uv-{% raw %}${{ matrix.runner }}{% endraw %}"
      - uses: "actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c" # v5.0.0
        with:
          python-version: "{% raw %}${{ matrix.python }}{% endraw %}"
      - run: "scripts/Sync-Py.ps1"
      - run: "flit publish"
        env:
          FLIT_USERNAME: "__token__"
          FLIT_PASSWORD: "{% raw %}${{ secrets.PYPI_TOKEN }}{% endraw %}"
