{% if override_vscode_extensions %}!extensions.json{% endif %}
{% if override_vscode_settings %}!settings.json{% endif %}
{% if override_vscode_launch %}!launch.json{% endif %}
{% if override_vscode_tasks %}!tasks.json{% endif %}
