{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "pytest-cov",
      "type": "process",
      "command": ".venv/Scripts/python.exe",
      "args": ["-m", "pytest", "-q", "-ra", "--cov", "--cov-report", "xml"],
      "presentation": {
        "reveal": "never",
        "showReuseMessage": false,
        "clear": true
      },
      "problemMatcher": []
    },
    {
      "label": "Black: Ignore magic comma",
      "type": "process",
      "command": "black",
      "args": ["-C", "${file}"],
      "presentation": {
        "reveal": "never",
        "showReuseMessage": false,
        "clear": true
      },
      "problemMatcher": []
    },
    {
      "label": "Git: Rebase back to fork",
      "type": "process",
      "command": "git",
      "args": ["rebase", "-i", "--fork-point", "main"],
      "presentation": {
        "reveal": "never",
        "showReuseMessage": false,
        "clear": true
      },
      "problemMatcher": []
    }
  ]
}
